<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<title>Bootstrap Sign up Form Horizontal</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/signup.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 


</head>
<body>
<div class="signup-form">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="col-xs-8 col-xs-offset-4">
			<h2>Sign Up</h2>
		</div>		
   <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, class:"input-box" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, class:"input-box", autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, class:"input-box",autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class:"input-box", autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, class:"input-box" %>
  </div>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number, class:"input-box" %>
  </div>

  <div class="field">
    <%= f.label :user_type %><br />
    <%= f.text_field :user_type, class:"input-box" %>
  </div>

 

  <div class="actions centre-align" style=" margin-top: 10px; height:80px;">
    <%= f.submit "Sign up", class:"btn btn-primary"%></br>
     <%- if controller_name != 'sessions' %>
    <p style="margin-top:10px;">Already have an account?<%= link_to " Sign in", new_session_path(resource_name) %></p><br />
  <% end %>
  
  </div>
 

<% end %>

</div>
</body>
</html>







