<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="/assets/show.css">


<body>
<div class="outer-container">
    <div class="main-container"></div>
    <div class="img-container">
        <img src="/assets/user-avatar.png" style="height:150px;margin-top:50px;">
    </div>  
    <table class="table table-borderless" style="margin-top:10px;">    
        <tr>
        <td class="title">User Name</td>
        <td class="value"><%=@user.name%></td>
        </tr>
        <tr>
        <td class="title">Mail</td>
        <td class="value"><%=@user.email%></td>
        </tr>
        <tr>
        <tr>
        <td class="title">Contact</td>
        <td class="value"><%=@user.phone_number%></td>
        </tr>
        <td class="title">Address</td>
        <td class="value"><%=@user.address%></td>
        </tr>
        <tr>
        <td class="title">Type</td>
        <td class="value"><%=@user.user_type%></td>
        </tr>
    </table>
    <div style="position: relative; text-align:centre; margin-bottom: 30px">
    <a href="<%= url_for(edit_user_path(@user)) %>" ><button class="btn btn-outline-dark" style="width:150px;">Edit Profile</button></a>
    </div>
</div>





