<h1><%= current_user.name %>'s Cart</h1>
<style>
  .product-list {
    list-style: none;
    padding: 0;
  }

  .product-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .product-list li span {
    flex: 1;
    font-size: 16px;
    font-weight: bold;
  }

  .product-list li a {
    font-size: 14px;
    color: blue;
    text-decoration: underline;
  }

  /* additional styles */
  .product-list {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .product-list li {
    background-color: #f8f8f8;
    padding: 10px;
  }

  .product-list li:nth-child(odd) {
    background-color: #eee;
  }

  /* colorful styles */
  .product-list li span {
    color: #333;
  }

  .product-list li a {
    color: #00b8d4;
  }
</style>

<ul class="product-list">
  <% @products.each do |product| %>
    <li>
      <span><%= product.product_name %></span>
      <%= link_to "Remove from cart", remove_from_cart_store_product_path(product.store_id, product.id) %>
    </li>
  <% end %>
</ul>



<%if current_user.user_type=="Buyer"%>
    <%= link_to "Continue Shopping", stores_path %></br></br>
<%end%>

<%= link_to "Back to user profile", user_path(current_user) %>