<!DOCTYPE html>>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="/assets/edit-new.css">

<body>
<div class="outer-container">
  <div class="main-container">
    
  </div>
  <div class="form-container">
    <div style="text-align: center;">
			<h3>Add a Product</h3>
		</div>	
    <%= form_with model: [@store, @product] do |form| %>

      <%=form.label :image, class:"file-field"%>
      <%= form.file_field :image %></br>

      <%= form.text_field :product_name, class:"input-box", placeholder: "Name" %></br>
      <%= form.text_field :product_description, class:"input-box", placeholder: "Description" %></br>
      <%= form.text_field :category, class:"input-box", placeholder: "Category" %></br>
      <%= form.text_field :price, class:"input-box", placeholder: "Price" %></br>

      <div class="center-align">

      <%= form.submit "Add Product", class:"btn btn-outline-dark"%></br>
      </div>
    <% end %>
  </div>
</div>
</body>
</html>