<style>  
 body{
  
  background-image: url('/assets/bg2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.main-container{
  
  margin:auto;
  margin-top:100px;
  width: 30vw;
  height: 70vh;
  background-color: black;
  opacity: 0.6;
  border-radius:10px;
  filter: blur(5px);
  /* backdrop-filter:blur(50px); */
  position: relative;
} 

.product-img{
  height:250px;
  /* padding:10px; */
  /* margin-top:30px; */
  isolation: isolate;
}

.img-container{
  position:absolute;
  top:1%;
  transform: translate(-50%, 0);
  left: 50%;
}
.outer-container{
  position:relative;
  margin:auto;
  width:30vw;
}
.table{
  margin-top:50px;
  margin-left:80px;
  font-family:'VisbyCF-Medium';
  font-size:20px;
  font-weight:bold;
  position:absolute;
  top:40%;
  transform: translate(-50%, 0);
  left: 50%;
  color: gold;
}
.title{
  color: gold;
}
.value{
  color:gold;
}

</style>

<div class="outer-container">
  <div class="main-container"></div>
  <div class="img-container">
      <%if @product.image.attached?%>
          <%= image_tag @product.image, class: "product-img" %>
        <%else%>
          <img src="/assets/product.png" class= "product-img" >
        <%end%>
      
  </div>
  
    <table class="table table-borderless" style="margin-bottom:0;">
  
    <tr>
      <td class="title">Product Name</td>
      <td class="value"><%=@product.product_name%></td>
    </tr>
    <tr>
      <td class="title">Description</td>
      <td class="value"><%=@product.product_description%></td>
    </tr>
    <tr>
      <td class="title">Category</td>
      <td class="value"><%=@product.category%></td>
    </tr>
    <tr>
      <td class="title">Price</td>
      <td class="value"><%=@product.price%></td>
    </tr>
   
</table>

<%if current_user.user_type=="Buyer"%>        
        <a href="<%= url_for(add_to_cart_store_product_path(@store,@product))%>" id="add-prod-to-cart"><button type="button" class="btn btn-outline-dark" style="margin-top:0;margin-left:200px;">
      <span class="add-prod-btn-text">
        <span>Add to Cart</span>
      </span>
    </button><a>


<%end%>

</div>

</body>
</html>

