<style>  
 body{
  
  background-image: url('/assets/bg2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.main-container{
  
  margin:auto;
  margin-top:100px;
  width: 30vw;
  height: 70vh;
  background-color: black;
  opacity: 0.6;
  border-radius:10px;
  filter: blur(5px);
  /* backdrop-filter:blur(50px); */
  position: relative;
} 

.product-img{
  height:250px;
  /* padding:10px; */
  /* margin-top:30px; */
  isolation: isolate;
}

.img-container{
  position:absolute;
  top:1%;
  transform: translate(-50%, 0);
  left: 50%;
}
.outer-container{
  position:relative;
  margin:auto;
  margin-bottom:20px;
  width:30vw;
}
.table{
  margin-top:50px;
  margin-left:80px;
  font-family:'VisbyCF-Medium';
  font-size:20px;
  font-weight:bold;
  position:absolute;
  top:40%;
  transform: translate(-50%, 0);
  left: 50%;
  color: gold;
}
.title{
  color: gold;
}
.value{
  color:gold;
}

.add-product-btn {
	color: #FFFFFF;
	font-size: 16px;
	border-radius: 5px;
	border: solid 0px #3e2e2e;
	text-shadow: 1px 1px 0px #a3a3a3;
	box-shadow: 0px 10px 14px -7px #616174;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	background: linear-gradient(180deg, #000000 10%, #1C191A 100%);
	display: inline-flex;
	align-items: center;
	padding: 0;
  margin-bottom: 50px;
}
.add-product-btn:hover {
	background: linear-gradient(180deg, #27bd22 10%, #000000 100%);
}
.add-product-btn-text {
	position: relative;
	padding: 10px 18px;
  font-size:20px;
}
.add-product-btn-icon {
	position: relative;
	border-right: 1px solid #ffffff29;
	box-shadow: inset rgb(0 0 0 / 14%) -1px 0 0;
	padding: 10px 10px;
</style>

<div class="outer-container">
  <div class="main-container"></div>
  <div class="img-container">
      <%= image_tag @product.image, class: "product-img" %>
  </div>
  
    <table class="table table-borderless">
    <table class="table table-borderless">
  
    <tr>
      <td class="title">Product Name</td>
      <td class="value"><%=@product.product_name%></td>
    </tr>
    <tr>
      <td class="title">Description</td>
      <td class="value"><%=@product.product_description%></td>
    </tr>
    <tr>
      <td class="title">Category</td>
      <td class="value"><%=@product.category%></td>
    </tr>
    <tr>
      <td class="title">Price</td>
      <td class="value"><%=@product.price%></td>
    </tr>
   
</table>





<%if user_signed_in? and current_user.user_type=="Buyer"%>
  <div class="text-center">
    <a href="<%= url_for(add_to_cart_store_product_path(@store,@product))%>" id="add-cart"><button type="button" class="add-product-btn">    

    <span class="add-product-btn-icon">
      <i class="fa fa-plus"></i>
    </span>
          
    <span class="add-product-btn-text">
      <span>Add to Cart</span>
    </span>

    </button><a>
    <br>

<%end%>

<div class="text-center">
<%= link_to "Back to Products", store_products_path %>
</div>

</div>

</body>
</html>